[submodule "lib/esl-sensors"]
	path = OBC/lib/esl-sensors
	url = https://github.com/esl-sun/esl-sensors.git
[submodule "lib/esl-math"]
	path = OBC/lib/esl-math
	url = https://github.com/esl-sun/esl-math.git
[submodule "lib/esl-comms"]
	path = OBC/lib/esl-comms
	url = https://github.com/esl-sun/esl-comms.git
